@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #FAFAFA;
    --nav-color: #Fefefe;
    --side-nav: #050505;
    --text-color: #6B35E8;
    --search-bar: #050505;
    --search-text: #050505;
}

body{
    background: #fefefe;
    height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--body-color);
}


nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1024px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color: var(--search-text);
}

.logo-img img {
    height: 3rem;

}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin:  0 5px;
    list-style:  none;
}

.nav-links li a {
    position: relative;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    padding: 10px;
}


.nav-links li a::before{
    content:' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 5px;
    width: 30px;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.5s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .sign-up .login a {
    margin: 0 10px;
    border: 2px solid #6B35E8;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.nav-bar .sign-up .login a:hover {
    background-color: var(--text-color);
    color: #Fefefe;
}

.nav-bar .sign-up .sign a {
    margin: 0 10px;
    border: 2px solid #6B35E8;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.nav-bar .sign-up .sign  a:hover {
    background-color: var(--text-color);
    color: #Fefefe;
}

